.header {
  background: #000;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header-utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.header-utilities nav {
  width: 18%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__link {
  color: #fff;
  text-decoration: none;
}

.header-nav__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* =========================
   modal
========================= */

.modal {
  z-index: 1000;
  display: none; /* 最初は非表示 */
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.modal.is-open {
  display: flex;
}

.modal__content {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}

